[submodule "third_party/ManiSkill"]
	path = third_party/ManiSkill
	url = git@github.com:harryzhangOG/ManiSkill.git
[submodule "third_party/where2act"]
	path = third_party/where2act
	url = https://github.com/daerduoCarey/where2act.git
